<!-- About -->
<section id="about">
  <div class="container-md">
    <div class="section-title">
      <h2 class="text-center mb-5">Hi, Alfaz's here!</h2>
      <div class="d-flex justify-content-between align-items-center">
        <div class="about-text">
          <p>
            My name is Muhammad Alfaz, and I am a Junior Web Developer. I
            am very enthusiastic about the world of web development and would
            like to share some information about myself.
          </p>

          <p>
            I have a strong desire to understand and master the latest
            technologies in web development. You can find projects I've worked
            on at my
            <a href="https://github.com/alfaz86" target="_blank">GithHub</a>,
            which cover various fields such as office industry, healthcare,
            government, and accounting.
          </p>

          <p>
            In my journey as a junior web developer, I have gained valuable
            experience in creating web-based applications. I have worked with
            various teams and have the ability to adapt to the demands of
            different projects.
          </p>

          <p>
            I am very excited to continue learning and growing in the world of
            web development. If you are looking for a developer committed to
            providing creative and innovative solutions for your projects, I am
            ready to join and contribute.
          </p>

          <p>
            Thank you for your attention, and I look forward to working with you
            in delivering outstanding web solutions!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
