<!-- Contact -->
<section id="contact">
  <div class="container-md">
    <div class="section-title">
      <h2 class="text-center mb-5">Contact</h2>
      <div class="div-contact">
        <a href="mailto:mhdalfaz18@gmail.com" class="d-block text-dark"
          ><i class="bi bi-envelope-fill"></i>mhdalfaz18@gmail.com
        </a>
        <a
          href="https://www.linkedin.com/in/muhammad-alfaz-74a173208"
          class="d-block text-dark"
          target="_blank"
          ><i class="bi bi-linkedin"></i>Muhammad Alfaz</a
        >
        <a
          href="https://www.instagram.com/muh_alfaz_"
          class="d-block text-dark"
          target="_blank">
          <i class="bi bi-instagram"></i>@muh_alfaz_</a
        >
        <a
          href="https://wa.me/6285334663520"
          class="d-block text-dark number"
          target="_blank">
          <i class="bi bi-whatsapp"></i>+62 853 3466 3520</a
        >
      </div>
    </div>
  </div>
</section>
<!-- End Contact -->
