<!-- Projects -->
<section id="projects">
  <div class="container-md">
    <div class="section-title">
      <h2 class="text-center mb-4">My Projects</h2>
      <div class="d-flex justify-content-around mb-3">
        <a class="nav-link filter all active" onclick="filterProjects('all')">All</a>
        <a class="nav-link filter public" onclick="filterProjects('public')">Open Source</a>
        <a class="nav-link filter private" onclick="filterProjects('private')">Closed Source</a>
      </div>
      <div class="row" id="row"></div>
    </div>
  </div>
</section>
<!-- End Projects -->